# Generate synthetic data

### Utilities

In [4]:
import pandas as pd
import random
import csv
from datetime import datetime

# Define utility bill ranges
water_bill_range = (40, 70)
electric_bill_range = (100, 150)
gas_bill_range = (15, 40)

# Generate data for each month of 2023
def generate_utility_expenses(year=2023):
    expenses = []
    for month in range(1, 13):  # Loop through months
        water_bill = round(random.uniform(*water_bill_range), 2)
        electric_bill = round(random.uniform(*electric_bill_range), 2)
        gas_bill = round(random.uniform(*gas_bill_range), 2)

        # Create a valid datetime object for the given month
        date_for_month = datetime(year, month, 1)
        
        expenses.append({
            "Month": date_for_month.strftime("%Y-%m"),
            "Water Bill": water_bill,
            "Electric Bill": electric_bill,
            "Gas Bill": gas_bill
        })
    return expenses

# Generate the utility expenses
utility_expenses = generate_utility_expenses()


# Convert the list of dictionaries to a pandas DataFrame
utility_expenses_df = pd.DataFrame(utility_expenses)

# Use .head() to view the first 5 rows
utility_expenses_df.head()

     Month  Water Bill  Electric Bill  Gas Bill
0  2023-01       45.70         112.85     25.56
1  2023-02       54.90         105.08     17.10
2  2023-03       60.65         133.22     21.16
3  2023-04       60.63         130.69     34.87
4  2023-05       55.86         116.62     37.56

In [6]:
# Save the DataFrame to a CSV file
utility_expenses_df.to_csv('FakeExpenses-Utilities.csv', index=False)